form {
  .form-control {
    margin-right: 0.15rem;
  }
}

.title, .sub-title {
  margin: 1.5rem 0;
}

.flex-centered {
  margin: 1.5rem 0;
  justify-content: center;
}

#new-appt {
  margin: 1.5rem 0;
}

.vspace-10 {
  margin: 10px 0;
}
