%h1.title React Calendar

%h2.sub-title.text-center Appointments

.row.flex-centered
  #new-appt
    %h5 Make a new appointment
    %p
      = render 'new', appointment: Appointment.new

.row.flex-centered
  #appointments
    = render 'appointments'