%h1.title React Calendar

%h2.sub-title.text-center Appointments

.row.flex-centered
  #appointments
    = react_component 'Label', label: 'Choose date and time'
    = react_component 'Appointments', appointments: @appointments